{% extends "admin/login.html" %}
{% load static %}

{% block extrastyle %}
<style>
  body.login {
    background-image: url("{% static 'admin/img/bg.jpeg' %}");
    background-size: cover;
    background-position: center;
  }

  .login-form {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .brand-logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 150px;
    height: auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-form">
  <img src="{% static 'admin/img/logo.jpeg' %}" alt="Logo" class="brand-logo">
  {{ block.super }}
</div>
{% endblock %}
